<!-- categories.html -->
{% extends 'trivia_app/base.html' %}

{% block title %}Categories{% endblock %}

{% block content %}
    <div class="flex flex-col text-center items-center space-y-4 w-full">
        <h2 class="text-lg sm:text-2xl font-bold">Categories</h2>
        <ul class="flex flex-col space-y-2">
            {% for category in categories %}
                <a href="{% url 'trivia_app:question_page' category.id 0 %}" class="btn-primary">{{ category.name }}</a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}