<!-- home.html -->
{% extends 'trivia_app/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="flex flex-col items-center justify-center space-y-4 w-full">
        <h2 class="text-lg sm:text-2xl font-bold">
            > Welcome to Trivia App#3 <
        </h2>
        <p class="text-base sm:text-xl">Test your knowledge.</p>
        <a href="{% url 'trivia_app:categories' %}" class="btn-primary">
            View Categories
        </a>
    </div>
{% endblock %}