<!-- question.html -->
{% extends 'trivia_app/base.html' %}

{% block title %}Question{% endblock %}

{% block content %}
    <h3>{{ question.text }}</h3>
    <form method="POST" action="{% url 'trivia_app:save_answer' question.category.id question_index %}">
        {% csrf_token %}
        <input type="hidden" name="question_id" value="{{ question.id }}">
        {% for answer in question.answers.all %}
            <label>
                <input type="radio" name="answer" value="{{ answer.text }}">
                {{ answer.text }}
            </label><br>
        {% endfor %}
        <button type="submit">Next</button>
    </form>
{% endblock %}