{% extends 'trivia_app/base.html' %}

{% block title %}{{ question.text }}{% endblock %}

{% block content %}
    <h1>{{ question.text }}</h1>
    <form method="POST" action="{% url 'submit_answer' question.id %}">
        {% csrf_token %}
        <ul>
            {% for choice in choices %}
                <li>
                    <label>
                        <input type="radio" name="choice" value="{{ choice.id }}"> {{ choice.text }}
                    </label>
                </li>
            {% endfor %}
        </ul>
        <button type="submit">Submit Answer</button>
    </form>
{% endblock %}
